<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>하이버네이트 select 예제</title>
</head>
<body>
<h1>하이버네이트 select 예제</h1>
<span th:text="${user.userId}"></span><br/>
<span th:text="${user.name}"></span><br/>
<span th:text="${user.authType}"></span><br/>
<table id="testTable">
  <thead>
    <tr>
      <th>id</th>
      <th>xss text</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="xss : ${testList}">
      <td th:text="${xss.id}">id</td>    
      <td th:text="${xss.xssText}">text</td>
    </tr>
  </tbody>
  <div id="test">
    <form id="testForm" action="xssTestInsert" method="post">
        <span>id</span> : <input type="text" name="id" value=""/><br/>
        <span>text</span> : <input type="text" name="text" value=""/><br/>
        <input type="submit" value = "전송"/>
    </form>
  </div>
</table>
</body>
</html>